@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-sf: 'SF Pro Rounded', 'Helvetica';
  --font-times: 'Times New Roman', sans-serif;
}

:root {
  font-family: var(--font-sans);
}